{% extends "base.html" %}
{% block title %}Изменения конфигурации{% endblock %}
{% block header %}
	<a style="color: rgb(74, 177, 236); font-weight: bold; text-align: left;">Изменения конфигурации</a>
{% endblock %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
<link rel="stylesheet" href="{% static 'css/my_try.css'%}">
{% block aside %}
    {% include 'includes/aside_config.html' %}
{% endblock %}
{% block content %}
	<div class="card" style="width: 280px;"> 
		<div class="card-body">
			<a class="btn user" style="background: silver; width: 240px; margin: 5px auto;" href="{% url 'config_new_change' %}">Добавить изменение к запросу</a>
			<a class="btn user" style="background: silver; width: 240px; margin: 5px auto;" href="{% url 'config_changes_confirm' query_id %}">Принять запрос на изменение конфигурации</a>
		</div>
	</div>
	<table class="config_units" border="1" width=120%>
		<tr>
			<th style="width: 100px; text-align:center; background:rgb(164, 214, 243); ">Блок</th>
			<th style="width: 100px; text-align:center; background:rgb(164, 214, 243); ">Влож. эл. конф.</th>
			<th style="width: 100px; text-align:center; background:rgb(164, 214, 243); ">P/N</th>
			<th style="width: 100px; text-align:center; background:rgb(164, 214, 243); ">Проч. идент. конф.</th>
			<th style="width: 100px; background:rgb(164, 214, 243);">Примечание</th>
			<th style="width: 100px; background:rgb(164, 214, 243);">Документ</th>
			<th style="width: 100px; background:rgb(164, 214, 243);">Дата</th>
			<th style="width: 100px; background:rgb(164, 214, 243);">Статус</th>
		</tr>
		{% for post in changes %}
			<tr>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.unit }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.include_name }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.part_n }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.other_info }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.descr }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;" href="#">Акт</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.pub_date|day_to_date }}</a></th>
				<th><a style="color: rgb(74, 177, 236); font-weight: bold;">{{ post.state }}</a></th>				
			<tr>
		{% endfor %}
	</table>	
	
{% endblock %} 