{% extends "base.html" %}
{% load cache %}
{% block title %}Перечень блоков{% endblock %}
{% block header %}Перечень блоков{% endblock %}
{% load thumbnail %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/my_try.css'%}">
    <div class="container" id="content">
		{% include "includes/head_for_mfi.html" %}
		{% for post in page %}
			{% include "includes/mfi_item.html" with post=post %}
		{% endfor %}
    </div>
    {% include "includes/paginator.html" %}
{% endblock %} 