{% extends "base.html" %}
{% load cache %}
{% block title %}Задачи проекта САДЭК-21{% endblock %}
{% block header %}Задачи проекта САДЭК-21{% endblock %}
{% load thumbnail %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <div class="container" id="content">
		{% include "includes/head_for_sadec.html" %}
		{% for post in page %}
			{% if post.task_state_id == 3 %}
				{% include "includes/sadec_post_item.html" with post=post color="border-success" %}
			{% elif post.task_state_id == 1 %}
				{% include "includes/sadec_post_item.html" with post=post color="border-primary" %} 
			{% else %}
				{% include "includes/sadec_post_item.html" with post=post color="border-danger" %}
			{% endif %}
		{% endfor %}
    </div>
    {% include "includes/paginator.html" %}
{% endblock %} 