<style>
    .v_a_i_full {
        display: flex; flex-direction: row; justify-content: left; align-items: left; width: 1300px; margin: 10px; 
        padding:10px; background: white; border-radius: 10px; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2); 
    }
    .day {
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        border: 0px solid black; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 1px;
        }
        
</style>

{% extends "base.html" %}
{% load cache %}
{% load user_filters %}
{% block title %}Отпуска{% endblock %}
{% block header %}
<div style="display: flex; flex-direction: row; justify-content: left; align-items: center; width: 130%;">
    <a style="color: black;">График отпусков сотрудника {{user.get_full_name}}</a>
    {% with request.get_full_path|url_to_year as year %}
        {% for y in years %}
            {% if y == year %}
                <a class="btn sib" style="margin-left: 5px; width: 100px; background: rgb(109, 200, 228);" href="{% url 'vacations_by_user' y otd %}">{{y}}</a>
            {% else %}
                <a class="btn sib" style="margin-left: 5px; width: 100px;" href="{% url 'vacations_by_user' y otd %}">{{y}}</a>
            {% endif %}
        {% endfor %}
    {% endwith %}	
</div>
    
{% endblock %}
{% block aside %}
    {% include 'includes/aside_vacations.html' %}
{% endblock %}
{% load static %}

{% block content %}
<div class="row" style="width: 130%;"> 
        <div style="display: flex; flex-direction: row; justify-content: left; align-items: left; width: 1300px; margin: 10px; padding:10px; background: transparent;">
            {% for vac in vacations %}
            <div class="v_a_i_full" style="flex-direction: column; width: 200px; align-items: center;">
                <div class="v_a_i_full" style="width: 150px; justify-content: center;">С {{ vac.day_start|date:"d M Y" }}</div>
                <div class="v_a_i_full" style="width: 150px; justify-content: center;">По {{ vac.day_end|date:"d M Y" }}</div>
                {% if vac.can_redact %}
                <a class="btn sib" style="width: 150px; background: rgb(160, 220, 236);" href="{% url 'vacation_edit' year otd vac.id %}">Редактировать</a>
                <a class="btn sib" style="width: 150px; background: rgb(160, 220, 236);" href="{% url 'vacation_delete' otd year vac.id %}">Удалить</a>
                <a class="btn sib" style="width: 150px; background: rgb(160, 220, 236);" href="{% url 'vacation_confirm' year otd vac.id %}">Подтвердить</a>
                {% else %}
                <a class="btn sib" style="width: 150px; background: rgb(160, 220, 236);" href="{% url 'vacation_confirm' year otd vac.id %}">Отменить</a>
                {% endif %}
                
                
            </div>
                
            {% endfor %}
            <div class="v_a_i_full" style="flex-direction: column; width: 200px; align-items: center;">
                <a class="btn sib" style="width: 150px; background: rgb(160, 220, 236); height: 200px;" href="{% url 'vacation_new' year otd %}">Добавить отпуск</a>
            </div>
</div>
{% endblock %} 