{%if post.t_start_id == 17 %}
	{% include "includes/cals_start/1.html" %}
{%endif%}
{%if post.t_start_id == 18 %}
	{% include "includes/cals_start/2.html" %}
{%endif%}
{%if post.t_start_id == 19 %}
	{% include "includes/cals_start/3.html" %}
{%endif%}
{%if post.t_start_id == 20 %}
	{% include "includes/cals_start/4.html" %}
{%endif%}
{%if post.t_start_id == 21 %}
	{% include "includes/cals_start/5.html" %}
{%endif%}
{%if post.t_start_id == 22 %}
	{% include "includes/cals_start/6.html" %}
{%endif%}
{%if post.t_start_id == 23 %}
	{% include "includes/cals_start/7.html" %}
{%endif%}
{%if post.t_start_id == 24 %}
	{% include "includes/cals_start/8.html" %}
{%endif%}
{%if post.t_start_id == 25 %}
	{% include "includes/cals_start/9.html" %}
{%endif%}
{%if post.t_start_id == 26 %}
	{% include "includes/cals_start/10.html" %}
{%endif%}
{%if post.t_start_id == 27 %}
	{% include "includes/cals_start/11.html" %}
{%endif%}
{%if post.t_start_id == 28 %}
	{% include "includes/cals_start/12.html" %}
{%endif%}
{%if post.t_start_id == 29 %}
	{% include "includes/cals_start/13.html" %}
{%endif%}
{%if post.t_start_id == 30 %}
	{% include "includes/cals_start/14.html" %}
{%endif%}
{%if post.t_start_id == 31 %}
	{% include "includes/cals_start/15.html" %}
{%endif%}
{%if post.t_start_id == 32 %}
	{% include "includes/cals_start/16.html" %}
{%endif%}
{%if post.t_start_id == 33 %}
	{% include "includes/cals_start/17.html" %}
{%endif%}
{%if post.t_start_id == 34 %}
	{% include "includes/cals_start/18.html" %}
{%endif%}
{%if post.t_start_id == 35 %}
	{% include "includes/cals_start/19.html" %}
{%endif%}
{%if post.t_start_id == 36 %}
	{% include "includes/cals_start/20.html" %}
{%endif%}
{%if post.t_start_id == 37 %}
	{% include "includes/cals_start/21.html" %}
{%endif%}
{%if post.t_start_id == 38 %}
	{% include "includes/cals_start/22.html" %}
{%endif%}
{%if post.t_start_id == 39 %}
	{% include "includes/cals_start/23.html" %}
{%endif%}
{%if post.t_start_id == 40 %}
	{% include "includes/cals_start/24.html" %}
{%endif%}