<style type="text/css"> 
    .user{
		width: 240px;
		height: 37px;
		margin: 2px;
		border: 3px solid white;
		border-radius: 10px;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
		font-family: 'Calibri';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
	}
</style>

{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
	<aside class="aside" style="margin: 4px; border-radius: 10px;">
		<div class="btn-group-vertical">
            <div style="display: flex; flex-direction: column;">
				{% if user.is_authenticated %}			
					<a class="btn user" href="{% url 'all_passes' %}">Все пропуска</a>
					<a class="btn user" href="{% url 'pass_new' %}">
						<img style="height: 15px; margin-left: 0px; margin-right: 10px;" src={% static "plus.png" %}>
						Добавить пропуск
					</a>
				{% endif %}
            </div>
        </div>
    </aside>
{% endwith %}



