<style>
	h4 {
	color: white;
	margin: 5px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	font-family: Wagon;
	font-weight: bold;
	}
	aside .btn {
		border: transparent;
		width: 240px;
		background: transparent;
		display: block;
		font-weight: bold;
		font-size: large;
		padding: 1px;
		margin: 1px;
		margin-left: 10px;
		text-align: left;
		color: black;
	}
	.btn-group-vertical {
		margin: 2px auto;
	}
	span {
		color: white;
	}
</style>
{% load static %}
{% load user_filters %}
{% with request.resolver_match.view_name as view_name %}
    <aside class="aside bg-dark" style="border: 4px solid white;">
		<a class="btn" href="{% url 'blocks_all' %}">Все блоки</a>
		<a class="btn" href="{% url 'block_new' %}">Добавить блок</a>
		<a class="btn" href="{% url 'blocks' 'False' %}">Склад / Изолятор</a>
		<a class="btn" href="{% url 'blocks_week' day|pro_week_now 'False' %}">Недельный отчет</a>
    </aside>
{% endwith %}
