<footer class="footer" style="font-weight: bold; background: rgba(134, 134, 128, 0.507);">
    <div class="container">
        <div class="copyright text-center text-white">
            <span style="color: white; font-weight: bold;">Ресурс регистрации заявок</span>
			<span>306 &copy; 2022 ПАО "Корпорация "Иркут" филиал "Центр комплексирования"</span>
			<span style="color: white; font-weight: bold;"> | </span>
			<a style="color: rgb(74, 177, 236); font-weight: bold;" href="{% url 'about:author' %}">Контакты</a>
        </div>
    </div>
</footer>
