<div class="card bg-secondary mb-1 mt-1 shadow-sm">
    <div class="container mb-1 mt-1">
		<div class="row">
			<div class="cal" style="width: 6%">
				<strong class="d-block text-gray-dark">Тип</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">№</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Дата изг.</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Доработка</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Статус</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Назнач.</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Наход.</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">Версия</strong>
			</div>
			<div class="cal" style="width: 6%" >
				<strong class="d-block text-gray-dark">Заказ</strong>
			</div>
			<div class="cal" style="width: 10%" >
				<strong class="d-block text-gray-dark">В составе</strong>
			</div>
			<div class="cal" style="width: 8%" >
				<a class="btn btn-sm btn-secondary btn-block" href="{% url 'mfi_all'  fltr=0%}">Х</a>
			</div>
		</div>
   </div>
</div> 