
    <div class="container mb-0 mt-0">
		<div class="row">
			<div class="cal" style="width: 4%" >

				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">0</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >

				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">1</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">2</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">3</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">4</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">5</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">6</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">7</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">8</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">9</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">10</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">11</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">12</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">13</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">14</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">15</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">16</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">17</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">18</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #e3f4fd;">
					<strong class="text-black">19</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">20</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">21</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">22</strong>
				  </div>

			</div>
			<div class="cal" style="width: 4%" >
				
				  <div class="card border-black" style="background-color: #b0b5b8;">
					<strong class="text-black">23</strong>
				  </div>

			</div>
		</div>
   </div>
