<div class="card bg-secondary mb-1 mt-1 shadow-sm">
    <div class="container mb-1 mt-1">
		<div class="row">
			<div class="col-md-2">
				<strong class="d-block text-gray-dark">Заявка</strong>
			</div>
			<div class="col-md-3">
				<strong class="d-block text-gray-dark">Дата</strong>
			</div>
			<div class="col-md-3">
				<strong class="d-block text-gray-dark">Статус</strong>
			</div>
			<div class="col-md-3">
				<strong class="d-block text-gray-dark">Заявитель</strong>
			</div>
		</div>
   </div>
</div>
<!--не используется-->