<div class="card bg-secondary mb-1 mt-1 shadow-sm">
    <div class="container mb-1 mt-1">
		<div class="row">
			<div class="col-md-6">
				<strong class="d-block text-gray-dark">Задача</strong>
			</div>
			<div class="col-md-1">
				<strong class="d-block text-gray-dark">%</strong>
			</div>
			<div class="col-md-2">
				<strong class="d-block text-gray-dark">ОК</strong>
			</div>
			<div class="col-md-2">
				<strong class="d-block text-gray-dark">Статус</strong>
			</div>
			<div class="col-md-1">
				<strong class="d-block text-gray-dark">File</strong>
			</div>
		</div>
   </div>
</div> 