{% load user_filters %}
{%if post.t_start_id|get_diff:post.t_stop_id == 1 %}
	{% include "includes/cals_stop/1.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 2 %}
	{% include "includes/cals_stop/2.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 3 %}
	{% include "includes/cals_stop/3.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 4 %}
	{% include "includes/cals_stop/4.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 5 %}
	{% include "includes/cals_stop/5.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 6 %}
	{% include "includes/cals_stop/6.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 7 %}
	{% include "includes/cals_stop/7.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 8 %}
	{% include "includes/cals_stop/8.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 9 %}
	{% include "includes/cals_stop/9.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 10 %}
	{% include "includes/cals_stop/10.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 11 %}
	{% include "includes/cals_stop/11.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 12 %}
	{% include "includes/cals_stop/12.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 13 %}
	{% include "includes/cals_stop/13.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 14 %}
	{% include "includes/cals_stop/14.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 15 %}
	{% include "includes/cals_stop/15.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 16 %}
	{% include "includes/cals_stop/16.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 17 %}
	{% include "includes/cals_stop/17.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 18 %}
	{% include "includes/cals_stop/18.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 19 %}
	{% include "includes/cals_stop/19.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 20 %}
	{% include "includes/cals_stop/20.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 21 %}
	{% include "includes/cals_stop/21.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 22 %}
	{% include "includes/cals_stop/22.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 23 %}
	{% include "includes/cals_stop/23.html" %}
{%endif%}
{%if post.t_start_id|get_diff:post.t_stop_id == 24 %}
	{% include "includes/cals_stop/24.html" %}
{%endif%}
