{% load static %}
{% load user_filters %}
{% if user_widgets.vacs %}
<div class="card" id="111" style="display: flex; width: 49px; height: 54px; overflow: hidden;">
{% else %}<div class="card" id="12" style="display: none;">
{% endif %}
	<div class="title" onmouseover="titleonmouseover(this)" onmouseout="titleonmouseout(this)">
		<div class="off vacs widget_place_for_image" {% if user_widgets.vacs_open %}name="open"{% else %}name="close"{% endif %}>
			<img 
				class="img_for_btn top_left_screen"
				onclick="closeOpenCard(this)"
				style="margin: 10px; width: 80%; height: 80%;"
				title="свернуть / развернуть виджет"
				src={% static "vacation.png" %}
			>
		</div>
		<div style="width:70%; display: none;">
			<a style="color: rgb(102, 168, 243); text-decoration: none; font-size: 24px;"
				title="Перейти на полную версию"
				href="{% url 'vacations_start' %}">
				Календарь
			</a>
		</div>
		<div style="width: 10%; display: none; margin-left: 15px;">
			<a style="display: none;" href="{% url 'user_widget_delete' user.id 'vacs' %}">
				<img style="height: 90%; width: 90%;" title="удалить виджет" src={% static "denay.png" %}>
			</a>
		</div>
	</div>
	<div class="widget_data">

	</div>
	<div class="widget_footer">
		<a class="btn widg_f_btn" style="width: 100%; border-radius: 8px 8px 18px 18px;" href="#">Добавить отпуск</a>
	</div>	
</div>
