{% load static %}
{% load user_filters %}
{% if user_widgets.test %}
<div class="card" id="10" style="display: flex; width: 49px; height: 54px; overflow: hidden;">
{% else %}<div class="card" id="10" style="display: none;">
{% endif %}
	<div class="title" onmouseover="titleonmouseover(this)" onmouseout="titleonmouseout(this)">
		<div class="off test widget_place_for_image" {% if user_widgets.test_open %}name="open"{% else %}name="close"{% endif %}>
			<img 
				class="img_for_btn top_left_screen"
				onclick="closeOpenCard(this)"
				style="margin: 10px; width: 80%; height: 80%;"
				title="свернуть / развернуть виджет"
				src={% static "tests.png" %}
			>
		</div>
		<div style="width:70%; display: none;">
			<a style="color: rgb(102, 168, 243); text-decoration: none; font-size: 24px;"
				title="Перейти на полную версию"
				href="{% url 'show_test' %}">
				Тесты
			</a>
		</div>
		<div style="width: 10%; display: none; margin-left: 15px;">
			<a style="display: none;" href="{% url 'user_widget_delete' user.id 'test' %}">
				<img style="height: 90%; width: 90%;" title="удалить виджет" src={% static "denay.png" %}>
			</a>
		</div>
	</div>

	<div class="widget_data">
		<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 0px;">
			<div class="prev-b-test task part" style="width: 20px; line-height: 20px; cursor: pointer; display: flex; flex-direction: row; justify-content: center; align-items: center;" aria-label="Предыдущий">&lt;</div>
			<div class="cur_b_test task part" style="width: 240px; display: flex; flex-direction: row; justify-content: center; align-items: center;">Назначенные</div>
			<div class="next-b-test task part" style="width: 20px; line-height: 20px; cursor: pointer; display: flex; flex-direction: row; justify-content: center; align-items: center;" aria-label="Следующий">&gt;</div>
		</div>
		<div class="slider_test-container" style="margin: 1px; display: flex; flex-direction: column; justify-content: top; align-items: center; width: 100%; height: 90%;">
			<div class="slider_test" style="display: flex; flex-direction: column; justify-content: top; align-items: center; width: 100%; height: 100%; transition: 0.5s ease-in-out;">
				<div class="slider_test-slide" style="width: 100%; height: 100%;">
					<div style="overflow-y: scroll; display: flex; flex-direction: column; justify-content: top; align-items: center; margin-bottom: 1px; height: 100%; width: 100%;">
						<div class="task" style="display: flex; flex-direction: row; width: 90%;">
							<a style="color: black;" href="#">тест3</a>
						</div>
					</div>
				</div>
				<div class="slider_test-slide" style="width: 100%; height: 100%;">
					<div style="overflow-y: scroll; display: flex; flex-direction: column; justify-content: top; align-items: center; margin-bottom: 1px; height: 100%; width: 100%;">
						<div class="task" style="display: flex; flex-direction: row; width: 90%;">
							<a style="color: black;" href="#">тест1</a>
						</div>
					</div>
				</div>
				<div class="slider_test-slide" style="width: 100%; height: 100%;">
					<div style="overflow-y: scroll; display: flex; flex-direction: column; justify-content: top; align-items: center; margin-bottom: 1px; height: 100%; width: 100%;">
						<div class="task" style="display: flex; flex-direction: row; width: 90%;">
							<a style="color: black;" href="#">тест2</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="widget_footer">
		<a class="btn widg_f_btn" style="width: 100%; border-radius: 8px 8px 18px 18px;" href="#">Кнопка</a>
	</div>	
</div>
<script>
	const slider_test = document.querySelector('.slider_test');
	const prevButton_test = document.querySelector('.prev-b-test');
	const nextButton_test = document.querySelector('.next-b-test');
	const cur_b_test = document.querySelector('.cur_b_test');
	const slides_test = Array.from(slider_test.querySelectorAll('.slider_test-slide'));
	const slideCount_test = slides_test.length;
	let slideIndex_test = 0;
	// Устанавливаем обработчики событий для кнопок
	prevButton_test.addEventListener('click', showPreviousSlide_test);
	nextButton_test.addEventListener('click', showNextSlide_test);
	// Функция для показа предыдущего слайда
	function showPreviousSlide_test() {
		slideIndex_test = (slideIndex_test - 1 + slideCount_test) % slideCount_test;
		updateSlider_test();
	}
	// Функция для показа следующего слайда
	function showNextSlide_test() {
		slideIndex_test = (slideIndex_test + 1) % slideCount_test;
		updateSlider_test();
	}
	// Функция для обновления отображения слайдера
	function updateSlider_test() {
		slides_test.forEach((slide, index) => {
			if (index === slideIndex_test) {
				slide.style.display = 'block';
			} else {
				slide.style.display = 'none';
			}
		});
		
		if (slideIndex_test === 0) {
			cur_b_test.textContent = "Назначенные";
		} else if (slideIndex_test === 1) {

			cur_b_test.textContent = "Общие";
		} else if (slideIndex_test === 2) {

			cur_b_test.textContent = "Завершенные";
		}
	}
	// Инициализация слайдера
	updateSlider_test();
</script>